.countries{
    width: 97vw;
    height: 100vh;
    overflow-y: scroll;
    //padding: 3rem 0;
    //inupt control
    .search-control{
        position: sticky;
        top: 1.8rem;
        background: white;
        margin-left: 2rem;
        ::ng-deep .mat-form-field.mat-form-field-appearance-outline {
            height: 2rem !important;
           
        }
        ::ng-deep .mat-form-field-flex{
            height: 2rem !important;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
            border-top: 0em solid transparent !important;
            padding: 0.7em 0 1em 0 !important;
        }
    }
   
    > div:first-of-type{
        width: 100%;
        margin: 2rem;
        position: sticky;
        top: 0rem;
        background-color: white;
    }
     label{
        font-size: 2.5rem !important;
        color: #cccccc;
    }
    table{
        width: 96%;
        margin: 2rem;
        img{
            height: 3.5rem;
            width: 3rem;
            object-fit: contain;
        }
        ::ng-deep th.mat-header-cell{
            position: sticky;
            top: 5rem;
            background: white;
            z-index: 10;
        }
        ::ng-deep tr.mat-row{
            vertical-align: middle !important;
        }
        ::ng-deep th.mat-header-cell:first-of-type, 
        ::ng-deep td.mat-cell:first-of-type, 
        ::ng-deep td.mat-footer-cell:first-of-type{
            padding-left: 0rem !important;
        }
        ::ng-deep th.mat-header-cell:last-of-type, 
        ::ng-deep td.mat-cell:last-of-type, 
        ::ng-deep td.mat-footer-cell:last-of-type{
            padding-right: 0rem !important;
            
            width: 0.5rem !important;
        }
        ::ng-deep .material-icons{
            font-size: 1rem !important;
            cursor: pointer;
        }
    }
}