*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.loginContainer{
    height: 100vh;
    width: 97vw;
    background-image: linear-gradient( to right, rgba(99,171,229,1), rgba(99,171,229,0));

    > label{
     font-size: 4rem;  
     font-weight: normal !important; 
    }
    .loginCard{
        padding: 2rem;
        background: white;
        border: 0.0625rem solid #cccccc;
       
    }
}
